<!-- View component CSS and JS in main.css and main.js -->

<div class="input-group search_group" id="search_group">
    <div class="input-group col-sm-12 col-xs-12">
        <span class="input-group-addon hidden-xs"><label for="search_term">Search:</label></span>
        <input id="search_term" type="text" class="form-control input-sm" formcontrolname="search_term" placeholder="Search for a Term" />
    </div>
</div>

<span class="message"></span>

<div class="filter-div" data-search-val="test1">Test1</div>
<div class="filter-div" data-search-val="test17">Test17</div>
<div class="filter-div" data-search-val="doesnotmatch">does not match</div>
<div class="filter-div" data-search-val="test56">Test56</div>
