<!-- View component CSS and JS in main.css and main.js -->

<div class="table-container">
  <button id="inline-edit" class="small">Enable Inline Editing</button>
  <table class="table dataTable table-striped table-bordered responsive-table">
      <thead>
          <tr>
              <th>Column 1</th>
              <th>Column 2</th>
              <th>Column 3</th>
              <th>Column 4</th>
              <th>Column 5</th>
          </tr>
      </thead>
      <tbody>
          <tr>
            <td class="" data-inline-edit="false" data-th="Column 1" data-link="true"><a href="#">Column 1 Information</a></td>
            <td class="" data-inline-edit="true" data-th="Column 2">Column 2 Information (double-click to edit me, Enter to save)</td>
            <td class="" data-inline-edit="true" data-th="Column 3">Column 3 Information (double-click to edit me, Enter to save)</td>
            <td class="" data-inline-edit="true" data-th="Column 4">Column 4 Information (double-click to edit me, Enter to save)</td>
            <td class="" data-inline-edit="true" data-th="Column 5">Column 5 Information (double-click to edit me, Enter to save)</td>
          </tr>

          <tr>
            <td class="" data-inline-edit="false" data-th="Column 1" data-link="true"><a href="#">Column 1 Information</a></td>
            <td class="" data-inline-edit="true" data-th="Column 2">Column 2 Information (double-click to edit me, Enter to save)</td>
            <td class="" data-inline-edit="true" data-th="Column 3">Column 3 Information (double-click to edit me, Enter to save)</td>
            <td class="" data-inline-edit="true" data-th="Column 4">Column 4 Information (double-click to edit me, Enter to save)</td>
            <td class="" data-inline-edit="true" data-th="Column 5">Column 5 Information (double-click to edit me, Enter to save)</td>
          </tr>

          <tr>
            <td class="" data-inline-edit="false" data-th="Column 1" data-link="true"><a href="#">Column 1 Information</a></td>
            <td class="" data-inline-edit="true" data-th="Column 2">Column 2 Information (double-click to edit me, Enter to save)</td>
            <td class="" data-inline-edit="true" data-th="Column 3">Column 3 Information (double-click to edit me, Enter to save)</td>
            <td class="" data-inline-edit="true" data-th="Column 4">Column 4 Information (double-click to edit me, Enter to save)</td>
            <td class="" data-inline-edit="true" data-th="Column 5">Column 5 Information (double-click to edit me, Enter to save)</td>
          </tr>

          <tr>
            <td class="" data-inline-edit="false" data-th="Column 1" data-link="true"><a href="#">Column 1 Information</a></td>
            <td class="" data-inline-edit="true" data-th="Column 2">Column 2 Information (double-click to edit me, Enter to save)</td>
            <td class="" data-inline-edit="true" data-th="Column 3">Column 3 Information (double-click to edit me, Enter to save)</td>
            <td class="" data-inline-edit="true" data-th="Column 4">Column 4 Information (double-click to edit me, Enter to save)</td>
            <td class="" data-inline-edit="true" data-th="Column 5">Column 5 Information (double-click to edit me, Enter to save)</td>
          </tr>
          
      </tbody>
  </table>
 </div>
